<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="b-homedb" th:fragment="searchrecord">
  <div class="my-5" >
    <div class="container">
      <h3 style="font-size:32px;" class="text-center col-12 b-latest-data">Call Book File Outward Entry</h3>
      <div class="row">
        <div class="container-fluid add-form-list">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <script>
                    // Auto-hide success message after 3 seconds
                    setTimeout(() => {
                        let msg = document.getElementById("successMsg");
                        if (msg) {
                            msg.classList.remove("show");
                            msg.remove();
                        }
                    }, 3000);

                    setTimeout(() => {
                        let msg = document.getElementById("errorMsg");
                        if (msg) {
                            msg.classList.remove("show");
                            msg.remove();
                        }
                    }, 5000);
                  </script>
                  <div th:if="${successMessage}"
                       class="alert alert-success alert-dismissible fade show text-center"
                       id="successMsg"
                       role="alert"
                       th:text="${successMessage}">
                  </div>

                  <div th:if="${errorMessage}"
                       class="alert alert-danger alert-dismissible fade show text-center"
                       id="errorMsg"
                       role="alert"
                       th:text="${errorMessage}">
                  </div>


                  <form hx-get="/record/callbook/searchForOutWardEntry"
                        hx-target="#b-homedb"
                        hx-swap="outerHTML">

                    <label class="form-label fw-bold">Search File</label>

                    <div class="row g-2">
                      <div class="col">
                        <input type="text" name="new_drSerialNo"
                               class="form-control"
                               placeholder="Enter DR Number..." required />
                      </div>
                      <div class="col">
                        <input type="text" name="new_dr_year"
                               class="form-control"
                               placeholder="Enter DR Serial Year..." required />
                      </div>
                      <div class="col-auto">
                        <button type="submit" class="btn btn-primary">
                          Search
                        </button>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- file/fragments/notFound.html -->

<div id="b-homedb" th:fragment="updateform">
  <div class="my-5">
    <div class="container">
      <h3 style="font-size:32px;" class="text-center col-12 b-latest-data">Call Book Out Entry for Existing File
        Record</h3>
      <div class="row">
        <div class="container-fluid add-form-list">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title"></h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>DR Serial No</th>
                      <th>DR Year</th>
                       <th>Call Book Serial No</th>
                      <th>Current Status</th>
                      <th>Closed Status</th>
                      <th>In Coming Date</th>
                      <th>Out Going Date</th>

                      <th>Section Dealing Hand Name</th>
                      <th>Section Dealing Hand Phone No</th>
                      <th>Record Room Dealing Hand Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="record : ${records}">

                      <td th:text="${record.new_drSerialNo}"></td>
                      <td th:text="${record.new_dr_year}"></td>
                      <td th:text="${record.call_book_no}"></td>

                      <td th:text="${record.is_current} ? 'Current' : 'Old'"></td>
                      <td th:text="${record.closed_status} ? 'Closed' : 'Open'"></td>


                      <td th:text="${record.in_coming_date}"></td>
                      <td th:text="${record.out_going_date}"></td>

                      <td th:text="${record.sectionDealingHandName}"></td>
                      <td th:text="${record.sectionDealingHandPhoneNo}"></td>
                      <td th:text="${record.recordRoomDealingHandName}"></td>

                    </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
            </div>



            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">



                  <div>
                    <h3>File Details Found</h3>
                    <p><strong>Current Distribution Register Serial No:</strong> <span
                            th:text="${callbookdto.new_drSerialNo_d}"></span></p>
                    <p><strong>Current File Year:</strong> <span th:text="${callbookdto.new_dr_year_d}"></span>
                    </p><br>
                      <p><strong>Call Book Serial No:</strong> <span th:text="${callbookdto.call_book_no}"></span>
                      </p><br>
                  </div>




                  <form th:object="${callbookdto}" method="post"
                        hx-post="/record/callbook/saveAndUpdateOutWardEntry"
                        hx-target="#b-homedb"
                        hx-swap="outerHTML"
                        class="row g-3 border p-3 rounded bg-light shadow-sm"
                        id="recordForm1">

                    <!-- passing current reocrd ID for update-->
                    <input type="hidden" th:field="*{id}" />
                    <input type="hidden" th:field="*{unique_key}" />
                      <input type="hidden" th:field="*{call_book_no}" />



                    <!-- 1. New DR Serial No -->
                    <label for="newDrSerialNo">1.New DR Serial No:</label>
                    <input type="number" th:field="*{new_drSerialNo}" class="form-control"
                           id="newDrSerialNo" required/><br/>

                    <!-- 2. New DR Year -->
                    <label for="newDrYear">2.New DR Year:</label>
                    <input type="number" th:field="*{new_dr_year}" class="form-control"
                           id="newDrYear" required/><br/>


                    <!-- 3a. Section Dealing Hand Name -->
                    <label for="sectionHandName">3a) Section Dealing Hand Name:</label>
                    <input type="text" th:field="*{sectionDealingHandName}" class="form-control"
                           id="sectionHandName" required/><br/>

                    <!-- 3b. Section Dealing Hand Phone No -->
                    <label for="sectionHandPhone">3b) Section Dealing Hand Phone No:</label>
                    <input type="text"  pattern="\d{10}"
                           maxlength="10"
                           minlength="10"
                           oninput="this.value = this.value.replace(/\D/g, '').slice(0, 10)" th:field="*{sectionDealingHandPhoneNo}" class="form-control"
                           id="sectionHandPhone" required/><br/>

                    <!-- 4. Record Room Dealing Hand Name -->
                    <div style="padding-top: 17px;" class="col-12">
                      <label class="form-label fw-bold">4. Record Room Dealing Hand
                        Name</label><br>
                      <select class="form-select" th:field="*{recordRoomDealingHandName}"
                              required>
                        <option value="">-- Select Name --</option>
                        <option value="M. Ramesh">Shri M. Ramesh</option>
                        <option value="Balasubramaniyan">Shri S. Balasubramaniyan</option>
                        <option value="N. Karuppusamy">Shri N. Karuppusamy</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a name before saving.
                      </div>
                    </div>
                    <br/>

                    <!-- 5. Purpose of Incoming File -->
                    <label for="purposeIncoming">5. Purpose of Out Going File:</label>
                    <input type="text" th:field="*{purpose_Of_Outgoing_Fle}" class="form-control"
                           id="purposeIncoming"/><br/>

                   <div class="d-grid mt-4">
                      <button type="submit" class="btn btn-primary btn-lg">💾 Save Record</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</html>