<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <div class="footer-bs">

            <footer class="container">
                <div class="row">
                    <div class="row col-md-2 col-sm-12 footer-nav">
                    </div>
                    <div class="row col-md-7 col-sm-12 footer-nav">
                        <div class="text-center mt-5 b-footer-credit" style="color: #000!important">
                            This site is designed and hosted by <a class="font-weight-bold" href="https://www.nic.in/">National Informatics Centre</a>
                        </div>


                    </div>
                    <div class="col-md-3 col-sm-8 footer-social d-flex">
                        <div class="d-inline-block align-self-center">
                            <p class="bg-light"><img th:src="@{/nic/images/NIC.png}" alt="NIC logo"></p>

                        </div>
                    </div>

                </div>

            </footer>

    </div>

</div>
</html>