<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <div class="footer-bs">

            <footer class="container">
                <div class="row">
                    <div class="row col-md-2 col-sm-12 footer-nav">
                    </div>
                    <div class="row col-md-5 col-sm-12 footer-nav">
                        <div class="text-center mt-5 b-footer-credit" style="color: #000!important">
                            Designed and Developed by <a class="font-weight-bold" href="https://www.nic.in/">National Informatics Centre</a>
                        </div>


                    </div>
                    <div class="col-md-5 col-sm-8 footer-social d-flex">
                        <div class="text-center mt-5 b-footer-credit" style="color: #000!important">
                            Content Owned by <a class="font-weight-bold" href="https://erode.nic.in/">District Administration </a>
                        </div>
                    </div>

                </div>

            </footer>

    </div>

</div>
</html>