<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar">
    <!-- Sidebar -->
    <div style="height:100%" class="dashboard-bgcolor border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-center b-db-color" style="font-size: 24px">
            <span class="fas fa-tachometer-alt"></span> &nbsp;<span class="text-uppercase">Admin</span>
        </div>
        <div class="list-group list-group-flush b-leftmenu">

            <ul id="sortable-menu">


                <li><a href='body.html' class="dashboard-bgcolor b-db-color border-bottom b-newpage">Dashboard</a></li>

                <li class='sub-menu'><a href='javascript:void(0)' class="dashboard-bgcolor border-bottom b-db-color b-newpage">File's Circulation<div class='fa fa-caret-down right'></div></a>
                    <ul>
                        <li><a class="b-newpage" hx-get="/record/circulation/load_form" hx-target="#b-homedb" hx-swap="innerHTML">File Master Creation</a></li>
                        <li><a class="b-newpage" hx-get="/record/circulation/file_master_out_entry" hx-target="#b-homedb" hx-swap="innerHTML">Outward Entry</a></li>
                        <li><a class="b-newpage" hx-get="/record/circulation/file_master_in_entry" hx-target="#b-homedb" hx-swap="innerHTML">Inward Entry</a></li>


                        <li class='sub-sub-menu'><a href='javascript:void(0)' class="b-newpage">Report's<div class='fa fa-caret-down right'></div></a>
                            <ul>
                                <li><a class="b-newpage" hx-get="/record/circulation/outWardReport" hx-target="#b-homedb" hx-swap="innerHTML">Out Standing Report</a></li>
                                <li><a class="b-newpage" hx-get="/record/circulation/masterReport" hx-target="#b-homedb" hx-swap="innerHTML">Master File's</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>

                <li class='sub-menu'><a href='javascript:void(0)' class="dashboard-bgcolor border-bottom b-db-color b-newpage">Call Book File's<div class='fa fa-caret-down right'></div></a>
                    <ul>
                        <li><a class="b-newpage" hx-get="/record/callbook/call_book_in_entry" hx-target="#b-homedb" hx-swap="innerHTML">Inward Entry</a></li>
                        <li><a class="b-newpage" hx-get="/record/callbook/call_book_out_entry" hx-target="#b-homedb" hx-swap="innerHTML">Outward Entry</a></li>
                        <li><a class="b-newpage" hx-get="/record/callbook/call_book_view" hx-target="#b-homedb" hx-swap="innerHTML">Received File's Report</a></li>
                    </ul>
                </li>

                <li class='sub-menu'><a href='javascript:void(0)' class="dashboard-bgcolor border-bottom b-db-color b-newpage">Old Register's<div class='fa fa-caret-down right'></div></a>
                    <ul>
                        <li><a class="b-newpage" href='barchart.html'>Register Master Creation</a></li>
                        <li><a class="b-newpage" href='linechart.html'>Outward Entry</a></li>
                        <li><a class="b-newpage" href='areachart.html'>Inward Entry</a></li>
                        <li><a class="b-newpage" href='areachart.html'>View Details</a></li>
                    </ul>
                </li>

                <li class='sub-menu'><a href='javascript:void(0)' class="dashboard-bgcolor border-bottom b-db-color b-newpage">RTI<div class='fa fa-caret-down right'></div></a>
                    <ul>
                        <li><a class="b-newpage" hx-get="/record/rti/load_form" hx-target="#b-homedb" hx-swap="innerHTML">RTI Entry</a></li>
                        <li><a class="b-newpage" hx-get="/record/rti/rti_Report" hx-target="#b-homedb" hx-swap="innerHTML">Report</a></li>

                    </ul>
                </li>
                <li class='sub-menu'><a href='javascript:void(0)' class="dashboard-bgcolor border-bottom b-db-color b-newpage">Library<div class='fa fa-caret-down right'></div></a>
                    <ul>
                        <li><a class="b-newpage" hx-get="/record/library/load_form" hx-target="#b-homedb" hx-swap="innerHTML">Book Master Creation</a></li>
                        <li><a class="b-newpage" hx-get="/record/library/outward_entry" hx-target="#b-homedb" hx-swap="innerHTML">Outward Entry</a></li>
                        <li><a class="b-newpage" hx-get="/record/library/inward_entry" hx-target="#b-homedb" hx-swap="innerHTML">Inward Entry</a></li>
                        <li class='sub-sub-menu'><a href='javascript:void(0)' class="b-newpage">Report's<div class='fa fa-caret-down right'></div></a>
                            <ul>
                                <li><a class="b-newpage" hx-get="/record/library/show_table" hx-target="#b-homedb" hx-swap="innerHTML">Master Book List </a></li>
                                <li><a class="b-newpage" hx-get="/record/library/outstanding_report" hx-target="#b-homedb" hx-swap="innerHTML">OutStanding  Book List </a></li>
                            </ul>
                        </li>
                        <li><a class="b-newpage" hx-get="/record/library/history" hx-target="#b-homedb">Library Transaction History</a></li>

                    </ul>
                </li>


            </ul>

        </div>
    </div>
</div>
</html>