<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div  th:fragment="content">
  <div class="my-5" id="b-homedb">

    <div class="container">
      <div class="row">


        <div class="col-md-12 p-5 table-responsive">
          <h4 class="text-center">Table with Dark Head</h4>
          <table class="table table-bordered text-nowrap">
            <thead class="thead-dark">
            <tr>
              <th>Sno.</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
              <th>Phone no. (Office)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1.</td>
              <td>Vikas</td>
              <td>Sharma</td>
              <td>vikas.sharma@mail.in</td>
              <td>011-26793735</td>
            </tr>
            <tr>
              <td>2.</td>
              <td>Dhruv</td>
              <td>Verma</td>
              <td>dhruv.verma@mail.in</td>
              <td>011-26793736</td>
            </tr>
            <tr>
              <td>3.</td>
              <td>Shalini</td>
              <td>Gupta</td>
              <td>shalini.gupta@mail.in</td>
              <td>011-26793737</td>
            </tr>
            <tr>
              <td>4.</td>
              <td>Preeti</td>
              <td>Aggarwal</td>
              <td>preeti.aggarwal@mail.in</td>
              <td>011-26793738</td>
            </tr>
            <tr>
              <td>5.</td>
              <td>Neha</td>
              <td>Gupta</td>
              <td>neha.gupta@mail.in</td>
              <td>011-26793739</td>
            </tr>
            </tbody>
          </table>
        </div>


        <div class="col-md-12 p-5 table-responsive">
          <h4 class="text-center">Table with Light Head</h4>
          <table class="table table-bordered text-nowrap">
            <thead class="thead-light">
            <tr>
              <th>Sno.</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
              <th>Phone no. (Office)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1.</td>
              <td>Vikas</td>
              <td>Sharma</td>
              <td>vikas.sharma@mail.in</td>
              <td>011-26793735</td>
            </tr>
            <tr>
              <td>2.</td>
              <td>Dhruv</td>
              <td>Verma</td>
              <td>dhruv.verma@mail.in</td>
              <td>011-26793736</td>
            </tr>
            <tr>
              <td>3.</td>
              <td>Shalini</td>
              <td>Gupta</td>
              <td>shalini.gupta@mail.in</td>
              <td>011-26793737</td>
            </tr>
            <tr>
              <td>4.</td>
              <td>Preeti</td>
              <td>Aggarwal</td>
              <td>preeti.aggarwal@mail.in</td>
              <td>011-26793738</td>
            </tr>
            <tr>
              <td>5.</td>
              <td>Neha</td>
              <td>Gupta</td>
              <td>neha.gupta@mail.in</td>
              <td>011-26793739</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>


    </div>


</div>
</div>

<div  th:fragment="contentt">
  <div class="my-5" id="b-homedb">

    <div class="container">
      <div class="row">


        <div class="col-md-12 p-5 table-responsive">
          <h4 class="text-center">Table withcvvvvvvvvvvvvvcvcvcvcv Dark Head</h4>
          <table class="table table-bordered text-nowrap">
            <thead class="thead-dark">
            <tr>
              <th>Sno.</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
              <th>Phone no. (Office)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1.</td>
              <td>Vikas</td>
              <td>Sharma</td>
              <td>vikas.sharma@mail.in</td>
              <td>011-26793735</td>
            </tr>
            <tr>
              <td>2.</td>
              <td>Dhruv</td>
              <td>Verma</td>
              <td>dhruv.verma@mail.in</td>
              <td>011-26793736</td>
            </tr>
            <tr>
              <td>3.</td>
              <td>Shalini</td>
              <td>Gupta</td>
              <td>shalini.gupta@mail.in</td>
              <td>011-26793737</td>
            </tr>
            <tr>
              <td>4.</td>
              <td>Preeti</td>
              <td>Aggarwal</td>
              <td>preeti.aggarwal@mail.in</td>
              <td>011-26793738</td>
            </tr>
            <tr>
              <td>5.</td>
              <td>Neha</td>
              <td>Gupta</td>
              <td>neha.gupta@mail.in</td>
              <td>011-26793739</td>
            </tr>
            </tbody>
          </table>
        </div>


        <div class="col-md-12 p-5 table-responsive">
          <h4 class="text-center">Table witcccccccccccccch Light Head</h4>
          <table class="table table-bordered text-nowrap">
            <thead class="thead-light">
            <tr>
              <th>Sno.</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
              <th>Phone no. (Office)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1.</td>
              <td>Vikas</td>
              <td>Sharma</td>
              <td>vikas.sharma@mail.in</td>
              <td>011-26793735</td>
            </tr>
            <tr>
              <td>2.</td>
              <td>Dhruv</td>
              <td>Verma</td>
              <td>dhruv.verma@mail.in</td>
              <td>011-26793736</td>
            </tr>
            <tr>
              <td>3.</td>
              <td>Shalini</td>
              <td>Gupta</td>
              <td>shalini.gupta@mail.in</td>
              <td>011-26793737</td>
            </tr>
            <tr>
              <td>4.</td>
              <td>Preeti</td>
              <td>Aggarwal</td>
              <td>preeti.aggarwal@mail.in</td>
              <td>011-26793738</td>
            </tr>
            <tr>
              <td>5.</td>
              <td>Neha</td>
              <td>Gupta</td>
              <td>neha.gupta@mail.in</td>
              <td>011-26793739</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>


    </div>


  </div>
</div>
</html>