<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div id="b-homedb" th:fragment="tabler">
    <div class="my-5">
        <h3 style="font-size:32px;" class="text-center mb-3 b-latest-data">Old Register Transaction Details</h3>

        <script th:inline="javascript">

            var g_table;

            function initializeDataTable() {


                var ajaxUrl = /*[[@{/oldregister/load_transactions_data}]]*/ '';

                g_table = $('#example1').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": ajaxUrl,
                        "type": "POST",
                        "contentType": "application/json",
                        "data": function (d) {
                            return JSON.stringify(d);
                        }
                    },

                    "columns": [
                        { "data": null, "searchable": false, "orderable": false }, // Sr. No. (0)
                        { "data": "master.record_serial_no" },
                        { "data": "master.year" },
                        { "data": "dateOfOutGoing" },
                        { "data": "purposeTakingOut" },
                        { "data": "sectionPersonName_out" },
                        { "data": "sectionPersonName_number" },
                        { "data": "recordPersonName_out" },
                        { "data": "dateOfReturn" },
                        { "data": "sectionPersonName_in" },
                        { "data": "sectionPersonPhNumber_in" },
                        { "data": "recordPersonName_in" },
                        { "data": "transactionDate" }
                    ],

                    dom:'lBfrtip',
                    buttons: [
                        {
                            extend: 'pdfHtml5',
                            text: 'Export PDF',
                            title: 'Old Register Transaction Details',
                            messageTop: 'Record Room - Old Register Transactions',
                            orientation: 'landscape',


                            customize: function (doc) {
                                doc.pageMargins = [40, 60, 40, 60];
                                doc.defaultStyle.fontSize = 12;
                                doc.styles.tableHeader.fillColor = '#4CAF50';
                                doc.styles.tableHeader.color = 'white';
                                doc.content[0].text = doc.content[0].text.toUpperCase();
                                doc.content[0].alignment = 'center';
                                doc.content[0].fontSize = 18;
                                doc.content[0].margin = [0, 0, 0, 10];
                                doc.footer = function(currentPage, pageCount) {
                                    return {
                                        columns: [
                                            'Old Register Transactions',
                                            {
                                                text: 'Page ' + currentPage.toString() + ' of ' + pageCount,
                                                alignment: 'right',
                                                margin: [0, 0, 20, 0]
                                            }
                                        ],
                                        margin: [40, 0]
                                    }
                                };
                            },


                            exportOptions: {
                                columns: ':visible',
                                format: {
                                    body: function ( data, row, col, node ) {

                                        if (col === 0) {
                                            return $(node).text();
                                        }

                                        return data;
                                    }
                                }
                            }
                        }
                    ],
                    "responsive": true,
                    "lengthChange": false,
                    "pageLength": 100,
                    "ordering": false,
                    "searching": true,
                    "autoWidth": false,
                    "destroy": true,

                    "fnRowCallback": function(nRow, aData, iDisplayIndex) {
                        var info = g_table.page.info();
                        var page = info.page;
                        var length = info.length;
                        var index = (page * length) + (iDisplayIndex + 1);
                        $('td:eq(0)', nRow).html(index);
                    }
                });


                $('#example1_filter input[type="search"]')
                    .attr('type', 'number')
                    .attr('placeholder', 'Search by Serial No...');
            }

            $(document).ready(function () {
                initializeDataTable();
            });
        </script>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive" style="overflow-x: auto;">
                                <table id="example1" class="table table-bordered table-striped" style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th style="min-width: 60px; white-space: nowrap;">Sr. No.</th>
                                        <th style="min-width: 120px; white-space: nowrap;">Record Serial No</th>
                                        <th style="min-width: 80px; white-space: nowrap;">Year</th>
                                        <th style="min-width: 130px; white-space: nowrap;">Date of Outgoing</th>
                                        <th style="min-width: 200px; white-space: nowrap;">Purpose</th>
                                        <th style="min-width: 150px; white-space: nowrap;">Section Person (Out)</th>
                                        <th style="min-width: 120px; white-space: nowrap;">Section Phone</th>
                                        <th style="min-width: 150px; white-space: nowrap;">Record Person (Out)</th>
                                        <th style="min-width: 130px; white-space: nowrap;">Date of Return</th>
                                        <th style="min-width: 150px; white-space: nowrap;">Section Person (In)</th>
                                        <th style="min-width: 130px; white-space: nowrap;">Section Phone (In)</th>
                                        <th style="min-width: 150px; white-space: nowrap;">Record Person (In)</th>
                                        <th style="min-width: 130px; white-space: nowrap;">Transaction Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>